<div class="frame">
  <form action="/answer" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-12">
      <div class="input-group">
      <div class="input-group-text">Ask your coach for anything:</div>
        <input type="text" name="question" id="form" class="form-control">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>